.hotel--widget {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.hotel--row {
  display: flex;
}
.hotel--header {
  width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.4)),
    url(../images/nations.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px;
}
.hotel-title {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
.hotel--description {
  text-align: center;
  color: #fff;
}
