.hidden {
    visibility: hidden;
    background: #000;
}

.navText {
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.navText p {
    margin: 0;
}

.collapse {
    width: min-content;
    height: min-content;
}
.navbar-nav{
    background-color: black;
}